<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            <div class="card border-0" style="width: 18rem;">
                <div class="d-flex justify-content-center">
                    <img src="../../assets/image_50367233.JPG" class="card-img-top rounded-circle w-75 mt-2"
                        alt="Profile Picture">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Guilherme Gabriel</h5>
                    <p class="card-text  text-center">Software developer beginner</p>
                    <a href="https://github.com/GuilhermeGorges" target="_blank"
                        class="btn btn-outline-dark d-flex justify-content-center">Git Hub</a>
                    <hr class="mt-4 mb-4">
                    <h6 class="mb-3 text-monospace text-center">Search Title</h6>
                    <input type="text" class="form-control mb-3 w-100">
                    <button class="btn btn-outline-warning w-100">Search</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <h3 class="text-center mb-4 text-monospace">Write your comments:</h3>

                <div class="form-group  mb-3">
                    <label for="title" class="text-monospace">Title:</label>
                    <input type="text" name="title" id="title" class="form-control" placeholder="Write your post title">
                </div>
                <div class="form-group  mb-3">
                    <label for="text" class="text-monospace">Text:</label>
                    <textarea name="text" id="text" cols="30" rows="4" class="form-control"
                        placeholder="Write your comment"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-info btn-outline-dark w-25">Publish</button>
                </div>

            </div>
            <hr class="mt-5 mb-5">

            <h3 class="text-center mb-b text-monospace">Comments</h3>


        </div>
    </div>
</div>